footer {
    background-color: white;
    position: fixed;
    bottom: 0;
  }

  footer p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*use p element as a flex container for easier align*/